body {
    background-color: #6c757d;
    background-image: linear-gradient(#6c757d, #dee2e6);
}

div {
    border: 2px solid black;
    border-radius: 15px;
    background-color: #0077b6;
    background-image: linear-gradient(#0077b6, #90e0ef);
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    border-style: double;
    border-width: thick;
}

h2 {
    padding: 20px;
    border-style: outset;
    border-color: #9db4c0;
    margin-right: 1000px;
}

p {
    background-color: lightgrey;
    width: 600px;
    border: 15px solid #892b64;
    padding: 50px;
    margin: 20px;
    border-radius: 25px;
    box-shadow: 10px 10px;
}

address {
    text-align: center;
    font-size: 15px;
    background: #7d8597; 
    width:100%; 
    height:80px; 
    clear:both;
}
